<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="navBar" id = "navBarTemp">
<nav  class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">MatkunIndustries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/{userId}(userId=${currentUser.id})}"
                   th:if="${currentUser != null}"> <span th:text="${currentUser.name}"/> </a>
            </li>
            <li class="nav-item"
                th:if="${currentUser != null}">
                <a class="nav-link" href="/admin"
                   th:each="role:${currentUser.roles}"
                   th:if="${role.name()=='ADMIN'}">AdminPanel <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-outline-secondary" th:href="@{/login}" role="button"
       th:if="${currentUser==null}">Log in</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-outline-secondary" value="Sign Out"
               th:if="${currentUser!=null}"/>
    </form>
</nav>
</div>
</body>
</html>