<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Company</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/star-rating.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="/static/css/news.css" media="all" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="/static/js/star-rating.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">MatkunIndustries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/{userId}(userId=${currentUser.id})}"
                       th:if="${currentUser != null}"> <span th:text="${currentUser.name}"/> </a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-outline-secondary" th:href="@{/login}" role="button">Log in</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-outline-secondary" value="Sign Out"/>
        </form>
    </nav>
<div class="form-row">
    <div class="col">
    <img th:src="@{${currentCompany.fileName}}" width="500" height="500"/>
    <h3 th:text ="${currentCompany.name}"/>
    <h3 th:text ="${currentCompany.description}"/>
    <form th:action="@{/company/{companyId}(companyId = ${currentCompany.id})}" class="form-horizontal" method="post">
        <input type="text" id="input-3" name="avgRate" required class="rating rating-loading" th:value="${currentCompany.avgRate}" data-size="sm" data-show-caption = "true" data-step="0.1"  >
        <button type="submit" class="btn btn-primary">Submit</button>
    </form  >
</div>
    <div class="col-lg-6">
        <div>
            <h1 th:text="'Current sum:' + ${currentCompany.currentSum} + '$'"></h1>
            <h1 th:text="'Nessary:' + ${currentCompany.finishSum} + '$'"></h1>
            <h3 th:text="'Complete:' + ${(currentCompany.currentSum/currentCompany.finishSum)*100}"></h3>
            <h1 th:text="'Rest Day:' + ${countDays}"></h1>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Support company
            </button>
            <div class="collapse" id="collapseExample">
                <table id="companies" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th >
                        <th>Description</th>
                        <th>Sum of money</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each= "bonus : ${currentCompany.listBonus}">
                        <td th:text="${bonus.name}"/>
                        <td th:text="${bonus.description}"/>
                        <td th:text="${bonus.sumOfMoney}"/>
                        <td><form th:action="@{/company/{companyId}/donate(companyId = ${currentCompany.id})}" class="form-horizontal" method="post">
                            <input type="hidden" th:value="${bonus.id}" name="id"/>
                            <button class="btn btn-primary" type="submit">Support</button>
                        </form> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:each="news:${currentNews}">
            <div class="row justify-content-md-center">
                <div class="col-2 text-right">
                    <h3 class="display-4"><a th:href="@{/company/news/{newsId}(newsId = ${news.id})}"><span  th:text="${news.dateCreating.time.date}"></span></a></h3>
                    <h3 th:text="${news.getMonthCreating()}"></h3>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><a th:href="@{/company/{companyId}/news/{newsId}(companyId = ${currentCompany.id},newsId = ${news.id})}"><strong th:text="${news.title}"></strong></a> </h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> <strong th:text="${news.day}"></strong></li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> <strong th:text="${news.dateCreating.time.hours}+':'+${news.dateCreating.time.minutes}+':'+ ${news.dateCreating.time.seconds}"/></li>
                    </ul>
                    <p th:text="${news.text}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="form-row">
    <form th:action="@{/company/{companyId}/comments (companyId = ${currentCompany.id})}" enctype="multipart/form-data" class="form-horizontal" method="post">
                <input type="text" id="addComment" name="text"/>
        <input type="hidden" id="companyId" th:value="${currentCompany.id}">
                <button id="addButton" name="addButton"  type="submit" >add comment</button>
    </form>
    </div>
    <div id="replace_div"
    th:if="${currentUser!=null}">
        Content goes here
    </div>
<script>
    setInterval(function () {
        getContent();
        function getContent() {
            var url = /content/;
            url = url + "listComment/"+$('#companyId').val()+"/";
            $('#replace_div').load(url);
        }
    },1000)
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>