<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
<div class="container">
    <div th:replace="~{fragments/navBarTemplate :: navBar}"></div>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4" th:text ="${currentCompany.name}">
        </h1>

        <!-- Portfolio Item Row -->

            <div class="col-md-8">
                <img class="card-img-top" th:if="${currentCompany.fileName==null}" src="https://res.cloudinary.com/matkun/image/upload/v1582459735/no-image_ukz20v.png" >
                <img class="card-img-top" th:if="${currentCompany.fileName!=null}" th:src="@{${currentCompany.fileName}}"  width="800" height="450">
                <form th:action="@{/company/{companyId}(companyId = ${currentCompany.id})}" class="form-horizontal" method="post">
                    <input type="text" id="input-3" name="avgRate" required class="rating rating-loading" th:value="${avgRate}" data-size="sm" data-show-caption = "true" data-step="0.1"  >
                    <div th:if="${currentUser} ==null" class="alert alert-primary" role="alert">
                        If you want to set rating, please authorize: <a href="/login" class="alert-link">Click here!</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

            <div class="col-md-4">
                <h3 class="my-3">Project Description</h3>
                <p th:text ="${currentCompany.description}"></p>
                <h3 class="my-3">Project Details</h3>
                <ul>
                    <li th:text="'Current sum:' + ${currentSumOfDonates} + '$'"></li>
                    <li th:text="'Nessary:' + ${currentCompany.finishSum} + '$'"></li>
                    <li th:text="'Complete:' + ${(currentSumOfDonates/currentCompany.finishSum)*100} + '%'"></li>
                    <li th:text="'Days left:' + ${countDays}"></li>
                </ul>
                <h3 class="my-3">Bonuses</h3>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Support company
                </button>
                <div class="collapse" id="collapseExample">
                    <table id="companies" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th >
                            <th>Description</th>
                            <th>Sum of money</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bonus : ${currentCompany.listBonus}"
                            th:if="${bonus.isActivity()!=false}">
                            <td th:text="${bonus.name}"/>
                            <td th:text="${bonus.description}"/>
                            <td th:text="${bonus.sumOfMoney}"/>
                            <td><form th:action="@{/company/{companyId}/donate(companyId = ${currentCompany.id})}" class="form-horizontal" method="post">
                                <input type="hidden" th:value="${bonus.id}" name="id"/>
                                <div th:if="${currentUser} !=null">
                                    <button class="btn btn-primary" type="submit">Support</button>
                                </div>
                                <div th:if="${currentUser} ==null" class="alert alert-primary" role="alert">
                                    If you want to help, please authorize: <a href="/login" class="alert-link">Click here!</a>
                                </div>
                            </form> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3 class="my-3">News</h3>
                <div th:each="news:${currentNews}">
                    <div class="row justify-content-md-center">
                        <div class="col-2 text-right">
                            <h5 class="display-4"><a th:href="@{/company/news/{newsId}(newsId = ${news.id})}"><span  th:text="${news.dateCreating.time.date}"></span></a></h5>
                            <h5 th:text="${news.getMonthCreating()}"></h5>
                        </div>
                        <div class="col-10">
                            <h5 class="text-uppercase"><a th:href="@{/company/{companyId}/news/{newsId}(companyId = ${currentCompany.id},newsId = ${news.id})}"><strong th:text="${news.title}"></strong></a> </h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> <strong th:text="${news.dateCreating.time.hours}+':'+${news.dateCreating.time.minutes}+':'+ ${news.dateCreating.time.seconds}"/></li>
                            </ul>
                        </div>
                    </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<div class="container">
    <div th:if="${currentUser} ==null" class="alert alert-primary" role="alert">
        If you want to add comment, please authorize: <a href="/login" class="alert-link">Click here!</a>
    </div>
    <div th:if="${currentUser!=null}">
        <form th:action="@{/company/{companyId}/comments (companyId = ${currentCompany.id})}" enctype="multipart/form-data" class="form-horizontal" method="post">
            <div class="row justify-content-center">
                <div class="col-md-8 mb-3 ml-6">
                    <input type="text" id="addComment" class="form-control" name="text"/>
                </div>

            <input type="hidden" id="companyId" th:value="${currentCompany.id}">
                <button name="addComment"  type="submit" class="btn btn-primary" >add comment</button>
            </div>
        </form>
    </div>
</div>
<div id="replace_div"
     th:if="${currentUser!=null}">
</div>
<script>
    setInterval(function () {
        getContent();
        function getContent() {
            var url = /content/;
            url = url + "listComment/"+$('#companyId').val()+"/";
            $('#replace_div').load(url);
        }
    },1500)
</script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>