<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>AdminPage</title>
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
<div class="container">
    <div th:replace="~{fragments/navBarTemplate :: navBar}"></div>
    <h2>Edit user</h2>
<form th:action="@{/admin/user/{userId}(userId=${user.id})}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="text" name="name" th:value="${user.name}">
    <br>


<div class="custom-control custom-switch" th:each="role:${roles}">
        <input type="checkbox"
                th:name="${role}"
                th:text="${role}"
               th:value="${role}"
                />
</div>
    <button type="submit">add</button>
</form>
</div>

</body>
</html>