<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
<div class="container">
    <div th:replace="~{fragments/navBarTemplate :: navBar}"></div>
<h2>Bonus Information</h2>

<form th:action="@{/user/{userId}/company/{companyId}/bonus/editBonus/{bonusId}(companyId =${companyId},userId =${userId}, bonusId = ${currentBonus.id})}" enctype="multipart/form-data" class="form-horizontal" method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
    <input type="text" name="name" class="form-control" th:value="${currentBonus.name}" placeholder="Name of products">
        </div>
    </div>
    <div class="form-row">
    <textarea id='editor-ru'type="text" name="description" th:value="${currentBonus.description}"placeholder="Description" th:rows="15"></textarea>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
    <input type="number" name="sumOfMoney" class="form-control" th:value="${currentBonus.sumOfMoney}"placeholder="Sum of money">
        </div>
    </div>
    <input type="hidden" name="company" th:value="${currentBonus.getCompany().id}"placeholder="owner">
    <button class="btn btn-primary" type="submit">add</button>
</form>
</div>
<script type="text/javascript">
    $('#editor-ru').markdownEditor({
        language: 'ru'
    });
</script>
</body>
</html>