<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<header th:replace="fragments/header :: header"> </header>
<div class="row justify-content-end">
    <div class="col-7">
    <div th:replace="~{fragments/navBarTemplate :: navBar}"></div>
    <div class="row justify-content-md-center">
    <form th:action="@{/}" class="form-horizontal" method="get" th:each="topic:${topics}">
    <input type="hidden" name="topic" th:value="${topic.name()}">
    <button type="submit" class="btn btn-light" th:text="${topic.name()}"></button>
    </form>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Hi people!</h1>
        <p class="lead">This is a simple example of crowdfunding company</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%B0%D1%83%D0%B4%D1%84%D0%B0%D0%BD%D0%B4%D0%B8%D0%BD%D0%B3" role="button">Learn more</a>
    </div>

    <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu">
        <form th:action="@{/}" class="form-horizontal" method="get">
            <input type="hidden" name="rate" th:value="rate">
            <button type="submit" class="dropdown-item" >Sort by rate</button>
        </form>
        <form th:action="@{/}" class="form-horizontal" method="get">
            <input type="hidden" name="date" th:value="date">
            <button type="submit" class="dropdown-item" >Sort by date</button>
        </form>
    </div>
    </div>
        <div class="row row-cols-4 row-cols-md-3">
            <div th:each="company : ${companyList}"
                 th:if="${company.activityTable!=false}">
            <div class="col mb-4">
            <div class="card">
                <img class="card-img-top" th:if="${company.fileName==null}" src="https://res.cloudinary.com/matkun/image/upload/v1582459735/no-image_ukz20v.png" >
                <img class="card-img-top" th:if="${company.fileName!=null}" th:src="@{${company.fileName}}"width="250" height="250">
                <div class="card-body">
                    <h3 class="card-title border-bottom pb-3" ><strong th:text="${company.name}"></strong> <a th:href="@{/company/{companyId}(companyId = ${company.id})}" class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fas fa-share-alt"></i></a></h3>
                    <p class="card-text">
                        <input type="text" id="input-3" name="avgRate" required class="rating rating-loading" th:value="${company.getAvgRate()}" data-size="sm" data-show-caption = "true" data-step="0.1" data-readonly="true" >
                        <strong th:text="'Current Sum:' + ${company.getCurrentSum() + '$'}">The Aim</strong>
                    <div th:with="result=${(company.getCurrentSum() /company.finishSum)*100}">
                    <strong th:text="${'Percent completion:' + result + '%'}"></strong>
                </div>
                    </p>
                    <a th:href="@{/company/{companyId}(companyId = ${company.id})}" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
            </div>
            </div>
        </div>
</div>
    <div class="col-3">
        <div class="row">
        <form th:action="@{/}" class="form-horizontal" method="get" th:each="tag:${tags}">
            <input type="hidden" name="tag" th:value="${tag.text}">
            <button type="submit" class="btn btn-light" th:text="${tag.text}"></button>
        </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>