<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Security Example </title>
</head>
<body>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
            <a href="/" class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></a>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form th:action="@{/registration}" method="post">
                    <div class="form-group">
                        <label for="exampleInputUserName">User Name</label>
                        <input type ="text" class="form-control" id="exampleInputUserName" aria-describedby="userHelp" placeholder="User Name" name="username">
                        <small id="userHelp" class="form-text text-muted">Input user name</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPass">Пароль</label>
                        <input type ="password" class="form-control" id="exampleInputPass" placeholder="Password" name="password">
                        <small id="passHelp" class="form-text text-muted">Enter password</small>
                    </div>
                    <div class="alert alert-primary" role="alert" th:if="${message}">
                        User exist
                    </div>
                    <button type="submit" class="btn btn-primary">Registry</button>
                    <div class="float-right">
                        <a class="btn btn-primary text-right" href="/login" role="button">Log in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>